[submodule "LibRaw-cmake"]
	path = LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "excons"]
	path = excons
	url = https://github.com/gatgui/excons.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/gatgui/libjpeg-turbo.git
