[submodule "excons"]
	path = excons
	url = https://github.com/gatgui/excons.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/gatgui/libjpeg-turbo.git
[submodule "Little-CMS"]
	path = Little-CMS
	url = git://github.com/gatgui/Little-CMS
